body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
#checkout-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: auto;
}
#checkout-section-container {
  width: 50%;
  height: 70vh;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.checkout-section {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 1px 1px 1px 1px #d0d3d4, 1px 1px 1px 1px #d0d3d4;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.checkout-image-section {
  width: 20%;
  text-align: center;
  padding: 5px;
}
.checkout-image {
  width: 100px;
  height: auto;
}
.checkout-details-section {
  width: 70%;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
.checkout-details-section h6,
p,
p {
  margin: 5px 0 0 5px;
}
.checkout-item-name {
  font-size: 18px;
}
.checkout-item-quantity {
  font-size: 15px;
}
.checkout-item-price {
  font-size: 17px;
  font-weight: 600;
  color: #0e6655;
}
.price-section {
  width: 50%;
  height: 180px;
  box-shadow: 1px 1px 1px 1px #d0d3d4, 1px 1px 1px 1px #d0d3d4;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.price-section h5 {
  font-size: 15px;
}
.price-section h3 {
  font-size: 20px;
  color: #0e6655;
}
.price-section h5,
h3,
input {
  margin: 10px 0px 10px 10px;
}
.place-order-button {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #145a32;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.empty-cart-image {
  width: 80%;
  height: auto;
}

@media only screen and (min-width: 350px) {
  #checkout-container {
    width: 100%;
    flex-direction: column;
  }
  #checkout-section-container {
    width: 100%;
  }
  .checkout-section {
    padding: 10px;
  }
  .price-section {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .checkout-details-section {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 600px) {
  #checkout-container {
    width: 100%;
    flex-direction: column;
  }
  #checkout-section-container {
    width: 100%;
  }
  .checkout-section {
    padding: 10px;
  }
  .price-section {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 900px) {
  #checkout-container {
    width: 100%;
    flex-direction: row;
  }
  #checkout-section-container {
    width: 100%;
  }
  .checkout-section {
    padding: 10px;
  }
  .price-section {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
