body {
  margin: 0;
  box-sizing: border-box;
}
#main-container {
  width: 100%;
  background-color: #fbfcfc;
  display: flex;
  flex-direction: column;
}
.carousel-menu .slick-dots {
  text-align: center;
  z-index: 10;
}
.carousel-menu .slick-dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px 0 3px;
}
.carousel-menu .slick-dots li.slick-active {
  background: #000;
}
.carousel-menu .slick-dots li button {
  display: none;
}
.slide-img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.accessories-card {
  width: 15%;
  height: auto;
  padding: 4px;
}
#clothing-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#accessories-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.accessories-filter {
  margin-top: 100px;
}
.accessories-card:hover {
  transform: scale(1, 1);
  transition-duration: 0.7s;
  box-shadow: 0 4px 8px 0 #11022998, 0 6px 20px 0 #00000030;
  cursor: pointer;
}
.accessories-img {
  width: 100%;
  height: auto;
}
.accessories-details h4,
p {
  margin: 5px;
}
#accessories-heading {
  margin-top: 100px;
}
.accessories-chart {
  font-size: 25px;
  color: #283747;
  font-family: Arial, Helvetica, sans-serif;
  margin: 26px 0 31px 36px;
}
.item-name {
  font-size: 16px;
}
.item-brand {
  font-size: 13px;
}
.item-price {
  font-size: 18px;
  color: #0e6655;
  font-weight: bolder;
}
